.headingunderline {
    border: 2px solid red;
}

.category {
    transition: all 0.3s;
}

.category:hover {
    background-color: #6DC5B7 !important;
}

.category:hover div {
    filter: brightness(0) invert(1) !important;
}

.category:hover div p {
    color: white !important;
}


.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.noto-sans-display {
    font-family: "Noto Sans Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .carousel .carousel-indicators button {
    width: 10px;
   height: 10px;
   border-radius: 100%;
}

@media (max-width: 767px) {
    .border-end {
        border-right: none !important;
    }
}
